# Ignore system files
__pycache__/
*.pyc
.DS_Store
*.py[cod]
*.so

# Ignore virtual environments
.env
.venv
env/
venv/
*.conda

# Ignore the ROM (ILLEGAL to upload)
roms/*.gb
roms/*.gbc
roms/*.gba

# Ignore heavy models (optional, but recommended if they weigh GBs)
experiments/

# Ignore IDE folders
.vscode/
.idea/