# Ignorar archivos del sistema
__pycache__/
*.pyc
.DS_Store
*.py[cod]
*.so

# Ignorar entornos virtuales
.env
.venv
env/
venv/
*.conda

# Ignorar la ROM (ILEGAL subirla)
roms/*.gb
roms/*.gbc
roms/*.gba

# Ignorar los modelos pesados (opcional, pero recomendado si pesan GBs)
experiments/

# Ignorar carpetas de IDE
.vscode/
.idea/